:root {
  --primary-light: aliceblue;
  --primary-dark: lightslategray;
}

body {
  background-color: var(--primary-dark);
}
header {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 1em;
  text-align: center;
}
.btn {
  height: 40px;
}

.main {
  display: flex;
  justify-content: space-between;
}

/* Players Name, Score, and win count  */
aside {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  height: fit-content;
  padding: 1em;
}
.players {
  font-size: 2rem;
  text-align: center;
}
.playerName {
  display: flex;
}
.playerScore h3 {
}
.playerWins h3 {
}
.winCount {
  font-size: 2.5em;
}
.gameBoard {
  display: flex;
}

/* The Game board dice  */
.dice {
  color: white;
  font-size: 10em;
  margin: 0.1em;
}
.fa-solid {
  border-radius: 50%;
  background-color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: min-content;
}

#rollBtn {
  border: 1px solid black;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  height: 30px;
  width: 100%;
  /* visibility: hidden; */
}
#rollBtn:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

/* footer  */
footer {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 1em;
}
